[Desktop Entry]
Type=Application
Exec=/home/user/.config/conky/start_conky
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=conky
Name=conky
Comment[en_US]=
Comment=
